@use '../abstracts/' as *;

.boton {
    @include cleanBotonStyle;
    color: $secondColor;
    border:1px solid $thirdColor;
    border-radius: 5px;
    @include smoothTransition;
    &:hover {
        @include linkButtonHover;
    }
}