*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* 
    MIXINS PARA RESPONSIVENESS
*/
.home {
  color: #dddddd;
}

.home ~ a {
  text-decoration: none;
  color: #dddddd;
  border-radius: 5px;
  padding: 0.25em;
  border: 1px solid darkgreen;
  transition: all 0.5s ease-in-out;
}
.home ~ a:hover {
  box-shadow: 2px 2px 0 0 #dddddd;
}

.home__title {
  margin-left: 0.5rem;
}

.search {
  color: #dddddd;
}

/* 
.home~a{
    @include linkDefaultStyle;
} */
.notFound {
  color: #dddddd;
  display: flex;
  flex-direction: column;
}
.notFound__title {
  margin: auto;
  text-align: center;
}
.notFound__img {
  margin: auto;
}
.notFound__img .Gif {
  width: 100vw;
}
.notFound__img .Gif__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.notFound__img .Gif__link img, .notFound__img .Gif__link h4 {
  margin: auto;
}
.notFound__img .Gif__link img {
  width: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .notFound__img .Gif {
    width: 768px;
  }
  .notFound__img .Gif__link {
    width: 768px;
  }
  .notFound__img .Gif__link img {
    width: 750px;
  }
}
.detalle {
  color: #dddddd;
  display: flex;
  flex-direction: column;
}
.detalle__title {
  margin: auto;
  text-align: center;
}
.detalle__img {
  margin: auto;
}
.detalle__img .Gif {
  width: 100%;
  padding: 0;
}
.detalle__img .Gif__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detalle__img .Gif__link img, .detalle__img .Gif__link h4 {
  margin: auto;
}
.detalle__img .Gif__link img {
  width: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .detalle__img .Gif {
    width: 768px;
    padding: 0;
  }
  .detalle__img .Gif__link {
    width: 768px;
  }
  .detalle__img .Gif__link img {
    width: 768px;
  }
}
.boton {
  isolation: isolate;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #dddddd;
  border: 1px solid darkgreen;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.boton:hover {
  box-shadow: 2px 2px 0 0 #dddddd;
}

.lds-ring {
  display: flex;
  align-items: center;
  height: 37px;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  margin: 0px auto;
}

.lds-ring div {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  margin: 37px 10px 10px;
  animation: 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite alternate none running bouncer;
}

.lds-ring div:nth-child(5n+1) {
  background-color: #00ff99;
}

.lds-ring div:nth-child(5n+2) {
  animation-delay: calc(0.1s);
  background-color: #00ccff;
}

.lds-ring div:nth-child(5n+3) {
  animation-delay: calc(0.2s);
  background-color: #9933ff;
}

.lds-ring div:nth-child(5n+4) {
  animation-delay: calc(0.2s);
  background-color: tomato;
}

.lds-ring div:nth-child(5n+5) {
  animation-delay: calc(0.4s);
  background-color: #fff35c;
}

@keyframes bouncer {
  100% {
    transform: scale(1.75) translateY(-20px);
  }
}
.trending {
  border: 1px solid darkgreen;
  border-radius: 5px;
  margin: 1rem;
  padding-bottom: 0.5rem;
  min-height: auto;
}
.trending__title {
  /**/
  margin: 0.5rem;
}
.trending__list {
  /**/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.trending__list a {
  text-decoration: none;
  margin: 0.2rem;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.trending__list a:hover {
  box-shadow: 2px 2px 0 0 #dddddd;
}
.trending__list__i {
  list-style: none;
  padding: 0.2rem;
  font-weight: 700;
}

.trending__list > a:nth-child(6n+1) {
  background-color: #00ff99;
  color: black;
}
.trending__list > a:nth-child(6n+1) h4 {
  background-color: #00ff99;
}
.trending__list > a:nth-child(6n+1):visited {
  color: black;
}

.trending__list > a:nth-child(6n+2) {
  background-color: #00ccff;
  color: black;
}
.trending__list > a:nth-child(6n+2) h4 {
  background-color: #00ccff;
}
.trending__list > a:nth-child(6n+2):visited {
  color: black;
}

.trending__list > a:nth-child(6n+3) {
  background-color: #9933ff;
  color: white;
}
.trending__list > a:nth-child(6n+3) h4 {
  background-color: #9933ff;
}
.trending__list > a:nth-child(6n+3):visited {
  color: white;
}

.trending__list > a:nth-child(6n+4) {
  background-color: tomato;
  color: white;
}
.trending__list > a:nth-child(6n+4) h4 {
  background-color: tomato;
}
.trending__list > a:nth-child(6n+4):visited {
  color: white;
}

.trending__list > a:nth-child(6n+5) {
  background-color: #fff35c;
  color: black;
}
.trending__list > a:nth-child(6n+5) h4 {
  background-color: #fff35c;
}
.trending__list > a:nth-child(6n+5):visited {
  color: black;
}

.trending__list > a:nth-child(6n+6) {
  background-color: #8429de;
  color: white;
}
.trending__list > a:nth-child(6n+6) h4 {
  background-color: #8429de;
}
.trending__list > a:nth-child(6n+6):visited {
  color: white;
}

header {
  margin: 0 1rem;
  margin-top: 0.5rem;
  min-height: 2rem;
  display: flex;
  font-weight: 700;
}
header a {
  text-decoration: none;
  color: #dddddd;
  border-radius: 5px;
  padding: 0.25em;
  border: 1px solid darkgreen;
  transition: all 0.5s ease-in-out;
}
header a:hover {
  box-shadow: 2px 2px 0 0 #dddddd;
}

.header__btn {
  margin-left: auto;
}
.header__btn__logout {
  margin-left: auto;
}
.header__btn__register {
  margin-left: 1rem;
}

#home__btn__gif {
  margin-right: 1rem;
  font-weight: 700;
}

#home__btn__sticker {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .header__btn {
    padding: 1rem;
  }
  .header__btn__logout {
    padding: 1rem;
  }
  .header__btn__register {
    padding: 1rem;
    margin: 0 2rem;
  }

  #home__btn__gif {
    padding: 1rem;
    margin: 0 2rem;
    font-weight: 700;
  }

  #home__btn__sticker {
    padding: 1rem;
    font-weight: 700;
  }
}
.listOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 0.2rem;
  place-items: center;
  min-height: 110vh;
}

.Gif {
  position: relative;
  padding: 0.5rem;
}
.Gif__link {
  text-decoration: none;
  color: white;
}
.Gif__link h4 {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  opacity: 0.7;
}

.Gif:nth-child(6n+1):hover {
  background-color: #00ff99;
  color: black;
}
.Gif:nth-child(6n+1):hover h4 {
  background-color: #00ff99;
}
.Gif:nth-child(6n+1):hover:visited {
  color: black;
}
.Gif:nth-child(6n+1):hover .Gif__link {
  text-decoration: none;
  background-color: #00ff99;
  color: black;
}
.Gif:nth-child(6n+1):hover .Gif__link h4 {
  background-color: #00ff99;
}
.Gif:nth-child(6n+1):hover .Gif__link:visited {
  color: black;
}

.Gif:nth-child(6n+2):hover {
  background-color: #00ccff;
  color: black;
}
.Gif:nth-child(6n+2):hover h4 {
  background-color: #00ccff;
}
.Gif:nth-child(6n+2):hover:visited {
  color: black;
}
.Gif:nth-child(6n+2):hover .Gif__link {
  text-decoration: none;
  background-color: #00ccff;
  color: black;
}
.Gif:nth-child(6n+2):hover .Gif__link h4 {
  background-color: #00ccff;
}
.Gif:nth-child(6n+2):hover .Gif__link:visited {
  color: black;
}

.Gif:nth-child(6n+3):hover {
  background-color: #9933ff;
  color: white;
}
.Gif:nth-child(6n+3):hover h4 {
  background-color: #9933ff;
}
.Gif:nth-child(6n+3):hover:visited {
  color: white;
}
.Gif:nth-child(6n+3):hover .Gif__link {
  text-decoration: none;
  background-color: #9933ff;
  color: white;
}
.Gif:nth-child(6n+3):hover .Gif__link h4 {
  background-color: #9933ff;
}
.Gif:nth-child(6n+3):hover .Gif__link:visited {
  color: white;
}

.Gif:nth-child(6n+4):hover {
  background-color: tomato;
  color: white;
}
.Gif:nth-child(6n+4):hover h4 {
  background-color: tomato;
}
.Gif:nth-child(6n+4):hover:visited {
  color: white;
}
.Gif:nth-child(6n+4):hover .Gif__link {
  text-decoration: none;
  background-color: tomato;
  color: white;
}
.Gif:nth-child(6n+4):hover .Gif__link h4 {
  background-color: tomato;
}
.Gif:nth-child(6n+4):hover .Gif__link:visited {
  color: white;
}

.Gif:nth-child(6n+5):hover {
  background-color: #fff35c;
  color: black;
}
.Gif:nth-child(6n+5):hover h4 {
  background-color: #fff35c;
}
.Gif:nth-child(6n+5):hover:visited {
  color: black;
}
.Gif:nth-child(6n+5):hover .Gif__link {
  text-decoration: none;
  background-color: #fff35c;
  color: black;
}
.Gif:nth-child(6n+5):hover .Gif__link h4 {
  background-color: #fff35c;
}
.Gif:nth-child(6n+5):hover .Gif__link:visited {
  color: black;
}

.Gif:nth-child(6n+6):hover {
  background-color: #8429de;
  color: white;
}
.Gif:nth-child(6n+6):hover h4 {
  background-color: #8429de;
}
.Gif:nth-child(6n+6):hover:visited {
  color: white;
}
.Gif:nth-child(6n+6):hover .Gif__link {
  text-decoration: none;
  background-color: #8429de;
  color: white;
}
.Gif:nth-child(6n+6):hover .Gif__link h4 {
  background-color: #8429de;
}
.Gif:nth-child(6n+6):hover .Gif__link:visited {
  color: white;
}

form {
  margin: 0.5rem;
  display: flex;
}

input, select {
  font-size: 1rem;
  height: 39px;
}

select {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: auto;
}

#search__btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-weight: 700;
  margin-left: auto;
}

.wrapper__logo {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  position: relative;
  margin: 1rem;
}

.logo {
  text-decoration: none;
  color: #dddddd;
  border-radius: 5px;
  padding: 0.25em;
  border: 1px solid darkgreen;
  transition: all 0.5s ease-in-out;
  margin: auto;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-image: url("../logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10%;
  max-width: 400px;
}
.logo:hover {
  box-shadow: 2px 2px 0 0 #dddddd;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=index.css.map */
